@model (UserModel,List<UserMatchDto>, List<UserMatchDto>)
@{
    int userID = Model.Item1.ID;
    List<UserMatchDto> recieved = new List<UserMatchDto>(@Model.Item2);
    List<UserMatchDto> requested = new List<UserMatchDto>(@Model.Item3);
    ViewData["Title"] = "Sinners";
}

@functions{
    /// <summary>
    /// Convert <see cref="Relationship"/> enum so it can be used as a string in href
    /// </summary>
    public int RelationshipToInt(Relationship r) => (int)r;


}
<div id="page_sinners">

    <p class="bg-secondary text-white mt-3">Mottagna förfrågningar</p>
    @foreach (var r in recieved)
    {
        <div class="">
            @{
                if (r.Images.Count > 0)
                {
                    <img class="img img-fluid rounded is-32x32" src="@r.Images[0].Url" />
                }
            }
            
            <a href="/profile/user/@r.ID">@r.Firstname</a>
            <button href="/api/user/@userID/accept/@r.ID/@r.Status1" name="acceptbtn" class="btn btn-success"> Accept</button>
            <button herf="" name="denybtn" class="btn bg-primary text-white">Deny</button>
        </div>
    }

    <p class="bg-secondary text-white mt-3">Skickade</p>
    @foreach (var r in requested)
    {
        <div class="">
            @{
                if (r.Images.Count > 0)
                {
                    <img class="img img-fluid rounded is-32x32" src="@r.Images[0].Url" />
                }
            }
            <a href="/profile/user/@r.ID">@r.Firstname</a>
        </div>
    }


    
</div>
<script>
    // Accept request
    ;[...document.querySelectorAll('button[name="acceptbtn"]')]
        .map(el => el.addEventListener('click', (ev) => {
            ev.preventDefault()
            window.location.replace(ev.target.getAttribute('href'))
        }))
        // todo; deny request
        ;[...document.querySelectorAll('button[name="denybtn"]')]
            .map(el => el.addEventListener('click', (ev) => {
                ev.preventDefault(); alert('This button does nothing yet;')
            }))
        ;[...document.querySelectorAll('button[name="message-page"]')]
            .map(el => el.addEventListener('click', (ev) => {
                ev.preventDefault()
                window.location.replace(ev.target.getAttribute('href'))
            }))
</script>


